
<div class="container" >
   <div nav-bar></div>
    <div message-flash> </div>
       
       
        <div ui-view></div>
        <br/>
        
       
   <div class="well">
        	<footer>{{site.footer}}</footer>
        </div>
</div>
